/* FULL WHITE SIDEBAR */
.vx-sidebar-white {
  width: 260px;
  background: #fff;
  height: 100vh;
  padding: 24px 20px;
  border-right: 1px solid #f1f1f1;
}

/* Clean list */
.vx-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* Each item */
.vx-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 14px;
  background: transparent;
  border: none;
  font-size: 15px;
  color: #555;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.25s ease;
}

/* Hover */
.vx-btn:hover {
  background: #f4f4ff;
  color: #6a45ff;
}

/* Icon style */
.vx-icon-box {
  padding: 12px;
  background: #f5f5f7;
  border-radius: 12px;
  font-size: 18px;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ACTIVE ITEM */
.vx-active {
  background: #6a45ff !important;
  color: #fff !important;
  box-shadow: 0px 6px 20px rgba(106, 69, 255, 0.3);
}

.vx-active .vx-icon-box {
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
}
